    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/loginForm.js"></script>
    <script src="/static/js/joinForm.js"></script>

    </body>
</html>