.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.naver-login img {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: -1px;
}

.kakao-login img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: -1px;
}

.google-login img {
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -1px;
}