{{>layout/header}}
<h1>Z세대들을 위한 커뮤니티 기반 가상화폐 매매 및 매매일지 서비스</h1>
<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>market</th>
            <th>korean_name</th>
            <th>english_name</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#markets}}
            <tr>
                <td>{{market}}</td>
                <td>{{korean_name}}</td>
                <td>{{english_name}}</td>
            </tr>
        {{/markets}}
        </tbody>
    </table>
</div>
{{>layout/footer}}