{{>layout/header}}

<h2>실시간 체결표</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">체결시간</th>
        <th scope="col">거래</th>
        <th scope="col">체결가격</th>
        <th scope="col">체결량</th>
        <th scope="col">체결금액(KRW)</th>
    </tr>
    </thead>
    <tbody>
    {{#tradeList}}
    <tr>
        <td>{{tradeTime}}</td>
        <td>{{ask_bid}}</td>
        <td>{{CoinPrice}}</td>
        <td>{{tradeVolume}}</td>
        <td>{{tradePrice}}</td>
    </tr>
    {{/tradeList}}
    </tbody>
</table>
{{>layout/footer}}